DATABASE_URL=postgres://postgres:93180Chok%21@igcs4oskgssskg8gsk0wc84s:5432/postgres
Jwt__Issuer=Imoveis.Api
Jwt__Audience=Imoveis.Web
Jwt__Key=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_WITH_32_PLUS_CHARS
Jwt__ExpiryMinutes=60
Jwt__RefreshExpiryDays=30
