DATABASE_URL=postgres://postgres:93180Chok%21@igcs4oskgssskg8gsk0wc84s:5432/postgres
# Alternativa sem URL unica:
# POSTGRES_HOST=igcs4oskgssskg8gsk0wc84s
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=93180Chok!
# POSTGRES_DB=postgres
Jwt__Issuer=Imoveis.Api
Jwt__Audience=Imoveis.Web
Jwt__Key=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_WITH_32_PLUS_CHARS
Jwt__ExpiryMinutes=60
Jwt__RefreshExpiryDays=30
